@import 'https://code.highcharts.com/css/highcharts.css';

header, h1, button {
  font-family: 'Archivo Black', sans-serif;
}
#image-weather-today {
  display: none;
  border-style: none;
}
#talking {
  display: none;
  width: 80px;
  height: 80px;
  margin: 15px;
}
.container#greet {
  justify-content: space-around;
  align-items: flex-start;
}
body {
  margin-top: 10px;
}
#maintitle {
  font-size: 50px;
}
#city-label {
  display: none;
  padding: 25px;
}
#title {
  border-top: 10px solid #1D84B5;
  border-bottom: 10px solid #1D84B5;
}
#footer {
  color: #E6E6EA;
}
#question-list{
  margin-top: 25px;
  margin-bottom: 25px;
}
button {
  color: #1D84B5;
  padding: 10px;
  margin: 10px;
}

#city-name {
  text-decoration: underline;
  text-decoration-color: #FED766;
  background-color:  #FED766;
}

#weather-today {
  text-decoration: underline;
  text-decoration-color: #1D84B5;
}

button:hover {
  background-color: #FED766;
}

h2, p, select, label {
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

#data{
  padding-left: 50px;
}
#image-weather-today {
  width: 150px;
  height: 150px;

}

#word-cloud {
	min-width: 200px;
	max-width: 300px;
  height: 300px;
	margin: 0 auto;
}

#main-map {
  height: 300px;
  width: 300px;
}

#sound-cloud {
  margin-left: 80px;
}

.visualAudible__body {
  color: white;
  background-color: white;
}

.container#extras {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}


.highcharts-tooltip-box {
	fill: white;
	fill-opacity: 0.6;
	stroke-width: 0;
}

.highcharts-tooltip-text {
	fill: black;
	text-shadow: 0 0 3px black;
}
.leaflet-popup-content-wrapper{
    background-color: gray;
    width: 100px;
    opacity: 0.9;
}


#cloudImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#teacupImage {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  margin-left: 20px;
}
