@import 'https://code.highcharts.com/css/highcharts.css';

header, h1 {
  font-family: 'Archivo Black', sans-serif;
}

#title {
  border: 10px solid #1D84B5;
  border-radius: 8px;
  padding: 10px;
}

h2, p {
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#image-weather-today {
  width: 100px;
  height: 100px;

}

#word-cloud {
	min-width: 310px;
	max-width: 600px;
	margin: 0 auto;
}

#main-map {
  height: 250px;
  width: 250px;
}


.highcharts-tooltip-box {
	fill: grey;
	fill-opacity: 0.6;
	stroke-width: 0;
}

.highcharts-tooltip-text {
	fill: white;
	text-shadow: 0 0 3px black;
}
.leaflet-popup-content-wrapper{
    background-color: gray;
    width: 100px;
    opacity: 0.9;
}


#cloudImage, #teacupImage {
  width: 100px;
  height: 100px;
}
